{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang Excel Column Finder</title>
        <meta charset="UTF-8" />       
    </head>
    <body>
        <h1>Golang Excel Column Finder</h1>   
{{ end }}
