{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang Word Counter</title>
        <meta charset="UTF-8" />
		<style>
			.counterdiv {
			  flex: 1;
			  display: flex;
			  flex-wrap: wrap;
			  align-items: center;
			}

			.counterdiv span {
			  padding: 0.3em;
			  margin: 0.3em;
			  border: 1.5px solid #10c5dc;
			}		
		</style>       
    </head>
    <body>
        <h1>Golang Word Counter</h1>   
{{ end }}
